<h1><%= @job.title %></h1>

<h3><%= @job.description %></h3>

<% if current_worker %>
  <% if current_worker.id == @job.worker_id %>

      <%= form_for @job, :method => "patch", remote: true do |f| %>
        <%= hidden_field_tag :active, '' %>
        <%= check_box_tag :active, checked = true %>
        <%= f.label :active, "Active Job" %>
        <%= hidden_field_tag :completed, '' %>
        <%= check_box_tag :completed, checked = true %>
        <%= f.label :completed, "Completed Job" %>
        <%= f.submit %>
      <% end %>
    <br>
    <div id="jobStatus">
      <% if @job.completed == true %>
        <p>You completed this job</p>
      <% elsif @job.active == true %>
        <p>You are currently working on this job</p>
      <% else %>
        <p>You claimed the job</p>
      <% end %>
    </div>
  <% else %>
    <div id="claim-job">
      <p>No one has claimed this job!</p>
      <%= link_to "Click Here to Claim It Now", job_path(@job), :method => "patch", remote: true %>
    </div>
  <% end %>

<% elsif @job.pending %>
  <p>Someone has already claimed this job; it's currently pending.</p>
<% else %>
  <p>No one has claimed this job yet!</p>
<% end %>
