<h1><%= @job.title %></h1>

<h3><%= @job.description %></h3>

<% if current_worker %>
  <% if current_worker.id == @job.worker_id %>
    <p>You claimed the job</p>
    <div id="active-job">
      <%= button_to "Active?", job_path(@job), method: "patch", remote: true %>
    </div>
    <br>
    <div id="complete-job">
      <%= button_to "Completed?", job_path(@job), method: "patch", remote: true %>
    </div>
  <% else %>
    <div id="claim-job">
      <p>No one has claimed this job!</p>
      <%= link_to "Click Here to Claim It Now", job_path(@job), :method => "patch", remote: true %>
    </div>
  <% end %>

<% elsif @job.pending %>
  <p>Someone has already claimed this job; it's currently pending.</p>
<% else %>
  <p>No one has claimed this job yet!</p>
<% end %>
