<div id="claimed-jobs">
  <h1><%= current_worker.email %>'s claimed jobs:</h1>

  <ul>
    <% current_worker.jobs.each do |job| %>
    <li><%= link_to job.title, job_path(job) %></li>
    <p>Click Button if Job Active <%= button_to "Active", job_path(job), method: "patch", remote: true %></p>
    <p>Click Button if Job Complete <%= button_to "Complete", job_path(job), method: "patch", remote: true %></p>
    <% end %>
  </ul>
</div>

<div id="active-job">
  <ul>
    <% current_worker.jobs.each do |job| %>
    <li><%= link_to job.title, job_path(job) %></li>
  <ul>
</div>

<div id="complete-job">
  <ul>
    <% current_worker.jobs.each do |job| %>
    <li><%= link_to job.title, job_path(job) %></li>
  <ul>
</div>
