<div id="claimed-jobs">
  <h1><%= current_worker.email %>'s claimed jobs:</h1>

  <ul>
    <% current_worker.jobs.each do |job| %>
    <li><%= link_to job.title, job_path(job) %></li>
    <p>Click Button if Job Active <%= button_to "Active", job_path(job), method: "patch", remote: true %></p>
    <p>Click Button if Job Completed <%= button_to "Completed", job_path(job), method: "patch", remote: true %></p>
    <% end %>
  </ul>
</div>

<div id="active-job">
  <h3>Active Jobs:</h3>
  <ul>
    <% @active_jobs.each do |job| %>
      <li><%= link_to job.title, job_path(job) %></li>
    <% end %>
  <ul>
</div>

<div id="complete-job">
  <h3>Complete Jobs:</h3>
  <ul>
    <% @complete_jobs.each do |job| %>
      <li><%= link_to job.title, job_path(job) %></li>
    <% end %>
  <ul>
</div>
